#logonavbar{
  height: 50px;
}

nav a {
  color: white!important;
}
nav span{
  color: white!important;

}


#header{
  background-image:url(images/bg.jpeg);
  background-size:cover;
  background-position: center;

}

.mayuscula{
  text-transform: uppercase;
}



#people{
  width: 40vh;
}

#solicita{
  border-width: 2px!important;
}


#footer{
  height:50px!important;
  
}

#footer h6{
  font-size: 1.5vh!important;
}
